@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

/* Force Mapbox map and canvas-container to fill their container. Let Mapbox control the canvas inline dimensions. */
.mapboxgl-map,
.mapboxgl-canvas-container {
  width: 100% !important;
  height: 100% !important;
}
